<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>芥末圈备份页</title>
  <!--  引入 css 文件-->
  <link th:href="@{/css/jiemo.css}" rel="stylesheet">
  <!--  <script type="text/javascript" src="@{/js/action.js}"></script>-->
</head>
<body>
<div class="div1">
  <div>
    <a th:href="@{/page/jiemo/topics}" title="芥末圈备份页">
      <img style="background:none;vertical-align:middle" alt="芥末圈" height="50"
           th:src="@{/images/JiemoIcon.png}">
    </a>
  </div>
  <div>
    <a th:href="'http://'+${uriPrefix}+'/swagger-ui/index.html?configUrl=/v3/api-docs/swagger-config'"
       target="_blank">
      <input type="button" value="swagger地址" class="darkBtn" />
    </a>
    <a th:href="'http://'+${host}+':3000'" target="_blank">
      <input type="button" value="grafana地址" class="darkBtn" />
    </a>
  </div>
  <div>
    <th:block th:each="group: ${groups}">
      <a th:href="@{/page/jiemo/topics(groupId=${group.getGroupId()})}">
        <input type="button" th:value="${group.getGroupName()}" class="darkBtn" />
      </a>
    </th:block>
  </div>
  <h2 th:text="'下面是抓取到的 '+${groupName}+' 芥末圈主题, 共 '+${topics.size()}+' 条主题'"></h2>
  <table>

    <tr th:each="topic: ${topics}">
      <hr class="hr-twill-colorful">
      <div th:text="${topic.member.nickname}" class="name"></div>
      <div
          th:text="${ '圈子:' + topic.groupName + '(' + topic.groupId + ')    |    发布于' + topic.createTime}"
          class="createTime"></div>
      <pre th:text="${topic.contentVisitor}"></pre>
      <div th:if="${topic.multimedia.size() > 0}">
        <ul th:each="link:${topic.multimedia}">
          <li>
            <a th:href="${link}" target="_blank">图片链接</a>
          </li>
        </ul>
      </div>
      <div th:if="${topic.commentCount>0}">
        <hr class="hr-solid-content" data-content="评论区">
        <div th:each="commentDto:${topic.commentDtoList}" class="comment">
          <div class="name"
               th:text="${commentDto.prefix} + ${commentDto.nickname}
               +${commentDto.replyCommentId.equals(0)?'':' 回复 '+commentDto.getReplyNickname()}"></div>
          <div th:text="' : '+${commentDto.content}"></div>
          <div th:if="${commentDto.getMultimedia().size() > 0}">
            <ul th:each="link:${commentDto.getMultimedia}">
              <li>
                <a th:href="${link}" target="_blank">评论图片链接</a>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
          <div class="createTime" th:text="${commentDto.createTime}"></div>
        </div>
      </div>
    </tr>
  </table>
</div>
</body>
</html>